<aside>
  <nav>
    <ul>
      <li class='active'><a href='#overview'>overview</a></li>
      <li><a href='#the_plan'>the plan</a></li>
      <li><a href='#itinerary'>itinerary</a></li>
      <li><a href='#location'>location</a></li>
      <li><a href='#what_is_it_going_to_cost_and_when_do_i_need_to_pay'>cost</a></li>
      <li><a href='#ready_to_sign_up'>signup</a></li>
      <li>photos: 
        <a href='http://www.flickr.com/photos/martin_88/sets/72157626465748303/with/5699064954/' target="_blank">1</a> 
        <a href='http://www.flickr.com/photos/mseckington/sets/72157626627983912/with/5679251800/' target="_blank">2</a>
        <a href='http://www.flickr.com/photos/sheilaellen/sets/72157626461640717/with/5676866111/' target="_blank">3</a>
      </li>
    </ul>
  </nav>
</aside>